footer{
  display: flex;
  justify-content: center;
  position: relative;
  height: 6%;
  width: 100%;
  box-shadow: 0 -5px 10px 5px rgba(0,0,0,0.13);
  background-color: rgb(24, 24, 24);
  .footer__copyright{
    color: rgb(79, 79, 79);
  }
  .footer__copyright:hover{
    color: white;
  }
}