header{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
  box-shadow: 0 5px 10px 5px rgba(0,0,0,0.13);
  font-weight: 300;
  font-size: .9rem;
  margin-bottom: 50px;
  .head{
    justify-content: space-around;
    .logo__cont{
      width: 200px;
      height: 80px;
      background-image: url("../images/logo.PNG");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    nav{
      display: flex;
      list-style: none;
      .nav__item {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        height: 80px;
        padding: 0 20px;
      }
      .nav__item:hover{
        background-color: rgb(245, 245, 245);
      }
    }
  }
}

